// ////////////////////  ШРИФТЫ  /////////////////

$MainFont: 'Proxima nova cond',
sans-serif;

$BoldFont: 700;

// //////////////////// ЦВЕТА  ///////////////////

$BgColor: #ffffff;
$AccentColor: #B01736;
$AccentHoverColor: #D43152;
$MainRedColor: #A30C33;
$MainTextColor: #444444;

//////////////////////////////////////////////////

$Container: 1250px;
$ContentPD: 0 70px;
$Transition: .5s;